<div class="navbar">
    <div class="container">
        <a class="logo" href="{% url 'index' %}">Web<span>Auction</span></a>

        <img id="mobile-cta" class="mobile-menu" src="media/images/menu.svg" alt="Open Navigation">

        <nav>
            <img id="mobile-exit" class="mobile-menu-exit" src="media/images/exit.svg" alt="Close Navigation">
            <ul class="primary-nav">
                <li><a href="{% url 'biddings:bidding_item_list' %}">Home</a></li>
                <li><a href="{% url 'biddings:bidding_item_create' %}">Add Item</a></li>
            </ul>
            <ul class="secondary-nav" >
                {% if user.is_authenticated %}
                <li><a href="#">{{user.username}}</a></li>
                <li><a href="{% url 'users:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'users:register' %}">Register</a></li>
                <li><a href="{% url 'users:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
